body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellow;
    line-height: 1.5;
}

h1 {
    text-align: center;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
}

th {
    background-color: darkgray;
}

a {
    color: purple;
}

a:hover {
    color: darkcyan;
}